<!--
  Generated template for the ShowroomDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Showroom Detail</ion-title>
      <ion-buttons end>
    	  <button ion-button (click)="closeModal()">Close</button>
        </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<div class="divBoxmin">
        <ion-grid class="grdLeaveHistory">
            <ion-row>
                <ion-col text-wrap class="bold text-left">Code</ion-col>
                <ion-col>{{showroom_data.code}}</ion-col>
            </ion-row>
            <ion-row>
                <ion-col text-wrap class="bold text-left">Name</ion-col>
                <ion-col>{{showroom_data.name}}</ion-col>
            </ion-row>
            <ion-row>
                <ion-col text-wrap class="bold text-left">Description</ion-col>
                <ion-col *ngIf="showroom_data.description != 'undefined'">{{showroom_data.description}}</ion-col>
            </ion-row>
            <ion-row>
                <ion-col text-wrap class="bold text-left">Place</ion-col>
                <ion-col *ngIf="showroom_data.place != 'undefined'">{{showroom_data.place}}</ion-col>
            </ion-row>
            <ion-row>
                <ion-col text-wrap class="bold text-left">Address</ion-col>
                <ion-col *ngIf="showroom_data.address != 'undefined'">{{showroom_data.address}}</ion-col>
            </ion-row>
            <ion-row>
                <ion-col text-wrap class="bold text-left">Pin Code</ion-col>
                <ion-col *ngIf="showroom_data.pin_code != 'undefined'">{{showroom_data.pin_code}}</ion-col>
            </ion-row>
            <ion-row>
                <ion-col text-wrap class="bold text-left">Contact No</ion-col>
                <ion-col *ngIf="showroom_data.contact_no != 'undefined'">{{showroom_data.contact_no}}</ion-col>
            </ion-row>
            <ion-row>
                <ion-col text-wrap class="bold text-left">Email</ion-col>
                <ion-col *ngIf="showroom_data.email != 'undefined'">{{showroom_data.email}}</ion-col>
            </ion-row>
            <ion-row>
                <ion-col text-wrap class="bold text-left">Contact Person</ion-col>
                <ion-col *ngIf="showroom_data.contact_person != 'undefined'">{{showroom_data.contact_person}}</ion-col>
            </ion-row>
            <ion-row>
                <ion-col text-wrap class="bold text-left">Branch</ion-col>
                <ion-col *ngIf="showroom_data.branch != 'undefined'">{{showroom_data.branch}}</ion-col>
            </ion-row> 
            <ion-row>
                <ion-col text-wrap class="bold text-left">Status</ion-col>
                <ion-col *ngIf="showroom_data.status != 'undefined'">{{showroom_data.status ? "Active":"Inactive"}}</ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>
