<!--
  Generated template for the EmployeeListDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Employee Detail</ion-title>
     <ion-buttons end>
            <button ion-button (click)="closeModal()">Close</button>
     </ion-buttons>
 
  </ion-navbar>

</ion-header>


<ion-content padding>
 <div class="divBoxmin">

  <ion-grid class="grdLeaveHistory">
    <ion-row>
        <ion-col class="bold text-left">Code</ion-col>
        <ion-col>{{employee_req_data.code}}</ion-col>
    </ion-row>
    <ion-row>
        <ion-col text-wrap class="bold text-left">Name</ion-col>
        <ion-col>{{employee_req_data.prefix}} {{employee_req_data.first_name}} {{employee_req_data.last_name}}</ion-col>
    </ion-row>
    <ion-row>
        <ion-col text-wrap class="bold text-left" >Email</ion-col>
        <ion-col *ngIf="employee_req_data.email != 'undefined'">{{employee_req_data.email}}</ion-col>
    </ion-row>
    <ion-row>
        <ion-col text-wrap class="bold text-left">Gender</ion-col>
        <ion-col *ngIf="employee_req_data.gender != 'undefined'">{{employee_req_data.gender}}</ion-col>
    </ion-row>
    <ion-row>
        <ion-col text-wrap class="bold text-left">Contact No</ion-col>
        <ion-col *ngIf="employee_req_data.contact_no != 'undefined'">{{employee_req_data.contact_no}}</ion-col>
    </ion-row>
    <ion-row>
        <ion-col text-wrap class="bold text-left">Blood Group</ion-col>
        <ion-col *ngIf="employee_req_data.blood_group != 'undefined'">{{employee_req_data.blood_group}}</ion-col>
    </ion-row>
    <ion-row>
        <ion-col text-wrap class="bold text-left">DOB</ion-col>
        <ion-col>{{employee_req_data.date_of_birth | date:'dd-MM-yyyy'}}</ion-col>
    </ion-row>
    <ion-row>
        <ion-col text-wrap class="bold text-left">Adhar No</ion-col>
        <ion-col *ngIf="employee_req_data.adhar_no != 'undefined'">{{employee_req_data.adhar_no}}</ion-col>
    </ion-row>
    <ion-row>
        <ion-col text-wrap class="bold text-left">Country</ion-col>
        <ion-col *ngIf="employee_req_data.country != 'undefined'">{{employee_req_data.country}}</ion-col>
    </ion-row>
    <ion-row>
        <ion-col text-wrap class="bold text-left">State</ion-col>
        <ion-col *ngIf="employee_req_data.state != 'undefined'">{{employee_req_data.state}}</ion-col>
    </ion-row>
    <ion-row>
        <ion-col text-wrap class="bold text-left">District</ion-col>
        <ion-col *ngIf="employee_req_data.district != 'undefined'">{{employee_req_data.district}}</ion-col>
    </ion-row>
    <ion-row>
        <ion-col text-wrap class="bold text-left">City</ion-col>
        <ion-col *ngIf="employee_req_data.city != 'undefined'">{{employee_req_data.city}}</ion-col>
    </ion-row>
    <ion-row>
        <ion-col text-wrap class="bold text-left">Address</ion-col>
        <ion-col *ngIf="employee_req_data.address != 'undefined'">{{employee_req_data.address}}</ion-col>
    </ion-row>
     <ion-row>
        <ion-col text-wrap class="bold text-left">Pin Code</ion-col>
        <ion-col *ngIf="employee_req_data.pin_code != 'undefined'">{{employee_req_data.pin_code}}</ion-col>
    </ion-row>
    <ion-row>
        <ion-col text-wrap class="bold text-left">Company</ion-col>
        <ion-col *ngIf="employee_req_data.company != 'undefined'">{{employee_req_data.company}}</ion-col> 
    </ion-row>
    <ion-row>
        <ion-col text-wrap class="bold text-left">Branch</ion-col>
        <ion-col *ngIf="employee_req_data.branch != 'undefined'">{{employee_req_data.branch}}</ion-col>  
    </ion-row>
    <ion-row>
        <ion-col text-wrap class="bold text-left">Status</ion-col>
        <ion-col *ngIf="employee_req_data.status != 'undefined'">{{employee_req_data.status ? "Active":"Inactive"}}</ion-col>   
    </ion-row>
   </ion-grid>
  </div>
</ion-content>
