<!--
  Generated template for the SchemesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Scheme</ion-title>
      <ion-buttons end>
            <button ion-button (click)="closeModal()">Close</button>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<div class="divBox">
   <form (submit)="saveSchemeRequest()">  
    	      <ion-item>
              <ion-label>Vehicle Type</ion-label>
                <ion-select [(ngModel)]="vehicle_type" name="County" [compareWith]="compareFn" interface="popover" multiple="false">
                   <ion-option *ngFor="let vtd of vehicle_type_data" [value]="vtd">{{vtd.text}}</ion-option>
                </ion-select>
            </ion-item>
             <ion-item>
                <ion-label>Name</ion-label>
                <ion-textarea [(ngModel)]="Name" name="Name" type="text"></ion-textarea>
            </ion-item>
             <ion-item>
                <ion-label>Budget</ion-label>
                <ion-textarea [(ngModel)]="Budget" name="Budget" type="text"></ion-textarea>
            </ion-item>
             <ion-item>
                <ion-label>Down Payment</ion-label>
                <ion-textarea [(ngModel)]="Down_Payment" name="Down_Payment"></ion-textarea>
            </ion-item>
             <ion-item>
                <ion-label>Installment</ion-label>
                <ion-input [(ngModel)]="Installment" name="Installment" (ngModelChange)="textAreaEmpty()"></ion-input>
            </ion-item>
             <ion-item>
                <ion-label>Installment Amount</ion-label>
                <ion-input [(ngModel)]="Installment_Amount" name="Installment_Amount" (ngModelChange)="textAreaEmpty()"></ion-input>
            </ion-item>
             <ion-item>
                <ion-label>Intrest</ion-label>
                <ion-input [(ngModel)]="Intrest" name="Intrest" (ngModelChange)="textAreaEmpty()"></ion-input>
            </ion-item>
            
              <ion-item>
                <span>From Date</span>
                <span ion-datepicker (ionChanged)="setDate($event, 'fromDt');" [(value)]="fromDate" [min]="from_date_Min" [max]="from_date_Max" clear class="ScheduleDate datePickerSpan" >
                    <span>{{fromDate | date: 'dd-MMM-yyyy'}} <ion-icon name="clipboard" item-left></ion-icon> </span>
                </span>
            </ion-item>
              <ion-item>
                <span>To Date</span>
                <span ion-datepicker (ionChanged)="setDate($event, 'toDt');" [(value)]="toDate" [min]="to_date_Min" [max]="to_date_Max" clear class="ScheduleDate datePickerSpan">
                    <span>{{toDate | date: 'dd-MMM-yyyy'}} <ion-icon name="clipboard" item-left></ion-icon> </span>
                </span>
            </ion-item>
            <!-- <ion-item>
                <ion-label>Status</ion-label>
                <ion-select [(ngModel)]="status" name="status" [compareWith]="compareFn" interface="popover" multiple="false">
                <ion-option *ngFor="let sd of status_data" [value]="sd">{{sd.text}}</ion-option>
                </ion-select>
            </ion-item> -->
             <ion-item>
                <ion-label>Active</ion-label>
                <ion-checkbox  [(ngModel)]="Active" name="Active" checked="false" (ngModelChange)="textAreaEmpty()"></ion-checkbox>
            </ion-item>
           
             <div padding>
                <button ion-button full color="secondary" type="submit">Create</button>
            </div>
    	  </form> 
    </div>


</ion-content>
