<!--
  Generated template for the CreateEmployeePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Create Employee</ion-title>
     <ion-buttons end>
            <button ion-button (click)="closeModal()">Close</button>
     </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<div class="divBox">
   <form (submit)="saveEmployeeRequest()">  
    	 <ion-item>
                <ion-label >Code</ion-label>
                <ion-input [(ngModel)]="Code" name="Code" placeholder="A101" (ngModelChange)="textAreaEmpty()"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Prefix</ion-label>
                <ion-select [(ngModel)]="prefix" name="Prefix" [compareWith]="compareFn" interface="popover" multiple="false">
                <ion-option *ngFor="let pd of prefix_data" [value]="pd">{{pd.text}}</ion-option>
            </ion-select>
            </ion-item>
             <ion-item>
                <ion-label>First Name</ion-label>
                <ion-textarea [(ngModel)]="firstName" name="firstName" type="text" (ngModelChange)="textAreaEmpty()" placeholder="Tanmay"></ion-textarea>
            </ion-item>
             <ion-item>
                <ion-label>Middle Name</ion-label>
                <ion-textarea [(ngModel)]="middleName" name="middleName" type="text" (ngModelChange)="textAreaEmpty()" placeholder="singh"></ion-textarea>
            </ion-item>
             <ion-item>
                <ion-label>Last Name</ion-label>
                <ion-textarea [(ngModel)]="lastName" name="lastName" type="text" (ngModelChange)="textAreaEmpty()" placeholder="Rajput"></ion-textarea>
            </ion-item>
            <ion-item>
                <span>Date Of Birth</span>
                 <span ion-datepicker (ionChanged)="setDate($event, 'Date');" name="selectedDate" [(value)]="selectedDate" [min]="date_Min" [max]="date_Max" clear class="ScheduleDate datePickerSpan">
                 <span>{{selectedDate | date: 'dd-MMM-yyyy'}} <ion-icon name="clipboard" item-left></ion-icon> </span>
                 </span>
             </ion-item>
             <ion-item>
                <ion-label>Gender</ion-label>
                <ion-select [(ngModel)]="gender" name="Gender" [compareWith]="compareFn" interface="popover" multiple="false">
                   <ion-option *ngFor="let gd of gender_data" [value]="gd">{{gd.text}}</ion-option>
                </ion-select>
            </ion-item>
             <ion-item>
                <ion-label>Contact No.</ion-label>
                <ion-input [(ngModel)]="ContactNo" name="ContactNo" type="tel" maxlength="10" (ngModelChange)="textAreaEmpty()" placeholder="9876543210"></ion-input>
            </ion-item>
             <ion-item>
                <ion-label>Email</ion-label>
                <ion-input [(ngModel)]="Email" name="Email" type="email" (ngModelChange)="textAreaEmpty()" placeholder="tanmay@gmail.com"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Blood Group</ion-label>
                <ion-input [(ngModel)]="blood_group" name="blood_group" type="text" (ngModelChange)="textAreaEmpty()" placeholder="B+"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>County</ion-label>
                <ion-select [(ngModel)]="county" name="County" [compareWith]="compareFn" interface="popover" multiple="false">
                   <ion-option *ngFor="let ctd of county_type_data" [value]="ctd">{{ctd.text}}</ion-option>
                </ion-select>
            </ion-item>
            <ion-item>
              <ion-label>State</ion-label>
                <ion-select [(ngModel)]="state" name="State" [compareWith]="compareFn" interface="popover" multiple="false">
                  <ion-option *ngFor="let std of state_type_data" [value]="std">{{std.text}}</ion-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label>District</ion-label>
                <ion-select [(ngModel)]="district" name="District" [compareWith]="compareFn" interface="popover" multiple="false">
                  <ion-option *ngFor="let dtd of district_type_data" [value]="dtd">{{dtd.text}}</ion-option>
                </ion-select>
            </ion-item>  
            <ion-item>
                <ion-label>City</ion-label>
                <ion-input [(ngModel)]="City" name="City" type="text" (ngModelChange)="textAreaEmpty()" placeholder="Pune"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Address</ion-label>
                <ion-textarea [(ngModel)]="Address" name="Address" type="text" (ngModelChange)="textAreaEmpty()" placeholder="Address"></ion-textarea>
            </ion-item>
            <ion-item>
                <ion-label>Pin Code</ion-label>
                <ion-input [(ngModel)]="pinCode" name="PinCode" type="tel" maxlength="6" (ngModelChange)="textAreaEmpty()" placeholder="456784"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Adhar Card</ion-label>
                <ion-input [(ngModel)]="AdharCard" name="AdharCard" type="text" (ngModelChange)="textAreaEmpty()" placeholder="123456789098"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Company</ion-label>
                <ion-select [(ngModel)]="company_type" name="County" [compareWith]="compareFn" interface="popover" multiple="false">
                   <ion-option *ngFor="let cmtd of company_type_data" [value]="cmtd">{{cmtd.text}}</ion-option>
                </ion-select>
            </ion-item>
            <ion-item>
              <ion-label>Branch</ion-label>
                <ion-select [(ngModel)]="branch_type" name="County" [compareWith]="compareFn" interface="popover" multiple="false">
                   <ion-option *ngFor="let btd of branch_type_data" [value]="btd">{{btd.text}}</ion-option>
                </ion-select>
            </ion-item>
           <!--  <ion-item>
                <ion-label>Status</ion-label>
                <ion-select [(ngModel)]="status" name="status" [compareWith]="compareFn" interface="popover" multiple="false">
                <ion-option *ngFor="let sd of status_data" [value]="sd">{{sd.text}}</ion-option>
            </ion-select>
            </ion-item> -->
            <ion-item>
                <ion-label>Active</ion-label>
                <ion-checkbox  [(ngModel)]="Active" name="Active" checked="false" (ngModelChange)="textAreaEmpty()"></ion-checkbox>
            </ion-item>
            <div padding>
                <button ion-button full color="secondary" type="submit">Create Employee</button>
            </div>
    	  </form> 
    </div>
</ion-content>
